@import './base.css';

#app {
  max-width: fit-content;
  margin: 0 auto;
  font-weight: normal;
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

body {
  display: flex;
  place-items: center;
}
